.App {
  text-align: center;
  /* background-color: #F1E8DF; //Jo's color */
  background-color: #FFFFFA;
  min-height: 100vh;
  /* padding-top: 12px; */
  font-family: 'Quicksand', sans-serif;
  /* font-family: 'Abel', sans-serif; */
  /* font-family: 'Ropa Sans', sans-serif; */
  /* font-family: 'Heebo', sans-serif; */
}

h1 {
  font-size: 1.2em;
  margin: 10px 0;
  color: #00585E;
}

h2 {
  color: #06D6A0;
  margin: 0;
}

button {
  /* background-color: #06D6A0;
  color: #FFFFFA;
  padding: 10px 14px;
  margin-bottom: 20px; */
}

.background a {
  margin-top: 320px;
  background-color: #06D6A0;
  /* color: #FFFFFA; */
  padding: 10px 14px;
  text-decoration: none;
  -webkit-box-shadow: 6px 9px 32px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 6px 9px 32px 0px rgba(0,0,0,0.75);
  box-shadow: 6px 9px 32px 0px rgba(0,0,0,0.75);
  z-index: 1001;
  position: absolute;
  right: 100px;
  bottom: -60px;
  /* font-size: 1.1em; */
}

.main-section {
  margin: 0 auto;
  color: #00585E;
  width: 100vw;
  padding-bottom: 100px;
}

p {
  text-align: left;
  margin-bottom: 40px;
  color: #00585E;
  font-size: 14px;
}

.main-section p {
  max-width: 70%;
  margin: 20px auto;
}

.happy-dog {
  background-image: url('./images/happydog.png');
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: middle center;
  position: fixed;
  float: bottom;
  width: 100%;
  height: 100%;
  /* background-position: 36px 0px; */
}

form {
  background-color: lightgray;
  margin: 40px auto;
  width: 90%;
  padding: 20px 0;
  display: grid;
  grid-template-columns: 33% 66%;
  grid-template-rows: 25% 19px auto;
  grid-row-gap: 1em;

}

input {
  margin-left: 20px;
  grid-column-start: 2;
  grid-column-end: 3;
  justify-self: start;
  width: 150px;

}

label {
  margin-left: 30px;
  font-size: 12px;
  grid-column-start: 1;
  grid-column-end: 2;
  justify-self: end;
}

.submit-btn {
  margin: 0 auto;
}

.header-image {
  background-image: url('./images/dogsprinkler.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0;
  /* position: fixed; */
  float: right;
  width: 240px;
  height: 240px;
  /* background-position: -100px 0 ; */
  position: absolute;

  left: 10px;
  top: 80px;
  -webkit-box-shadow: 6px 9px 32px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 6px 9px 32px 0px rgba(0,0,0,0.75);
  box-shadow: 6px 9px 32px 0px rgba(0,0,0,0.75);
  z-index: 1000;
}

.review-image {
  background-image: url('./images/happydog.jpg');
  background-size: 140%;
  background-position: -10px -60px;
}

.background {
  background-color: #00585E;
  width: 300px;
  min-height: 460px;
  margin: 0 auto;
  margin-top: 80px;
  -webkit-box-shadow: 6px 9px 32px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 6px 9px 32px 0px rgba(0,0,0,0.75);
  box-shadow: 6px 9px 32px 0px rgba(0,0,0,0.75);
  padding-top: 240px;
}

.text-background {
  background-color:   #FFFFFA;
  position: absolute;
  z-index: 100;
  width: 280px;
  left: 80px;
  top: 300px;
  padding: 44px 0 20px 0;
  -webkit-box-shadow: 6px 9px 32px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 6px 9px 32px 0px rgba(0,0,0,0.75);
  box-shadow: 6px 9px 32px 0px rgba(0,0,0,0.75);
}

.review-section {
  min-height: 800px;
}



